@charset "utf-8";
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 625%;
}
.ll .login{
    background-color: #00a400;

    color:#fff;
    font-size:20px;
    line-height:41px;
    height:41px;
    padding-left:2px;
    width: 100px;


}

.logout{
    color:#000000;
    align:right;
    font-size:20px;
    line-height:41px;
    height:41px;
    padding-left:2px;
    width: 500px;
}